<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Kávézó</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Koncertek</h1>
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th>Fellépő neve</th>
                    <th>Kezdés időpontja</th>
                    <th>Időtartam</th>
                    <th>Elmarad</th>
                </tr>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% data.forEach(koncert => { %>
                            <tr>
                                <td><%= koncert.felleponev %></td>
                                <td><%= koncert.kezdesido %></td>
                                <td><%= koncert.idotartam %></td>
                                <td><%= koncert.elmarad %></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">Nincsenek koncertek.</td>
                        </tr>
                    <% } %>                    
                </tbody>
            </thead>
        </table>
    </div>
</body>
</html>
